/* SECTION hero banner */

.section-hero__title {
    text-align: center;    
}

.section-hero {
    overflow: hidden;
  }
  
  .section-hero__banner {
    display: flex;
    justify-content: flex-end;
  }
  
  .section-hero__content {
      padding: var(--grid-gutter);
      position: absolute;
      width: 275%;
      height: 658px;
      /* bottom: 146px;
      left: -520px;  */
      background: rgba(242, 242, 242, 0.9);
      border: 1px solid var(--color-dark);
  }
  
  .section-hero__poster img {
      display: block;
      width: auto;
  }
  
  .section-hero__box {
        /* width: 330px; */
        width: 25%;
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
  }
  
  .section-hero__text span {
      font-style: normal;
      font-weight: 600;

  }
  
  .section-hero__text {
        /* padding-left: 60px;
        padding-right: 60px;
        font-size: 18px; */
        line-height: 25px;
        margin: 30px 60px;
        margin-bottom: 30px;

        font-style: normal;
        font-weight: 300;
  }
  
  .section-hero__header {
      padding-left: 60px;
  }

/* SECTION FLIGHTS */
.section-flights {
    background-color: var(--color-light);
}

.section-flights__card {
    border: 1px solid #828282;
}

.section-flights__card-small {
    width: calc(470/630 * 100%);
    background-color: var(--color-light);
    margin-top: -40px;
    position: relative;
    padding: calc(var(--grid-gutter)/2);
    margin-left: auto;
    margin-right: auto;
}

.section-flights__card-button .button {
    margin: 80px;
}

.section-flights__card-container {
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--grid-gutter)/2);
}

.section-flights__card-title {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 100%;
}

.section-flights__card-title:after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background: #828282;
    margin-top: 30px;
    margin-bottom: 30px;

  }

.section-flights__card-text {
    line-height: 25px;
    text-align: center;
}

.section-flights__card--horizontal {
    display: flex;
    grid-column: span 2;
}

.section-flights__card-small--horizontal {
    margin-top: 0;
    padding: 30px 110px;
}


/* SECTION PLANES */

.section-title {
    margin: var(--grid-gutter) 0;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.section-planes__title {
    text-align: center;
}

.section-planes__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--grid-gutter)/2);
}

.section-planes__card {
    border: 1px solid #828282;
    background-color: var(--color-light)
}

.section-planes__card-content {
    padding: calc(var(--grid-gutter)/2) var(--grid-gutter);
}

.section-planes__img {
    width: 100%;    
}

.section-planes__card-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.section-planes__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

/* SECTION FLIGHTS PROGRAMS */
.section-programs{
    background-color: var(--color-light);
}

.section-programs__title {
    text-align: center;
}

.section-programs__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--grid-gutter)/2);
    
}

.section-programs__card {
    background-color: var(--color-light-grey);
    margin: 10px;
}

.section-programs__icon {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 30px;
}

.section-program__title {
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    padding: 30px 30px 0 30px;
}

.section-program__text {
    padding: 30px;
    text-align: center;

}

/* ###################################################################### */
/* addservices*/
.section-addservices__start {
    background: var(--color-light-grey);
}

.section-addservices {
    background: var(--color-light-grey);
}

.section-addservices__heading {
    height: 184px;
    text-align: center;
    padding-top:  60px;
   
}
/* section-addservices*/

.section-addservices {
  overflow: hidden;
}

.section-addservices__poster img {
    display: block;
    width: auto;
}

.section-addservices__box {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.section-addservices__text {
    margin-left: 80px;
    margin-right: 80px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.section-addservices__header {
    margin-left: 80px;
}

.section-addservices__title {
    font-size: 36px;  
    margin: 30px 0; 
}

.section-addservices__actions {
     margin-left: 80px;
     margin-bottom: 30px;
}

.section-addservices__button {
    margin-top: 30px;
}

/* if picture-left */
.section-addservices__block-picture-left {
  display: flex;
  justify-content: flex-end;
}

.section-addservices__content-picture-left {
    position: absolute;
    /* width: 660px; */
    width: 110%;
    background: rgba(242, 242, 242, 0.9);
    border: 1px solid var(--color-dark);
}

.section-addservices__box--picture-left {
     display: flex;
    justify-content: flex-end;
}


/* if picture-right */

.section-addservices__block-picture-right {
  display: flex;
  align-items: center;
}

.section-addservices__content-picture-right {
    position: absolute;
    /* width: 660px; */
     width: 110%;
    background: rgba(242, 242, 242, 0.9);
    border: 1px solid var(--color-dark);
}

/* ################################################################## */

/* 2 вариант карточек */

.section-flights__card {
    border: 1px solid #828282;

    display: block;
    position: relative;
    overflow: hidden;
}

.section-flights__card-see {
    display: block;
  position: relative;
}

.section-flights__card-see-flex {
    display: flex;
}

.section-flights__card-hidden {
display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  padding: 60px;
}

.section-flights__card:hover .section-flights__card-hidden {
    background: rgba(51, 51, 51, 1);
    color: rgba(242, 242, 242, 1);
  opacity: 1;
}

.section-flights__card:hover .section-flights__card-hidden h3 {
    background: rgba(51, 51, 51, 1);
    color: rgba(242, 242, 242, 1);
  opacity: 1;
}

.section-planes__card:hover {
  transform: scale(1.5);
}