/* SECTION FLIGHTS */
.section-jumps {
    background-color: var(--color-light);
}

.section-jumps__title{
    text-align: center;
    margin-bottom: var(--grid-gutter);
}
.section-jumps__card {
    border: 1px solid #828282;
}

.section-jumps__img{
    width: 100%;
}

.section-jumps__card-small {
    width: calc(470/630 * 100%);
    background-color: var(--color-light);
    margin-top: -40px;
    position: relative;
    padding: calc(var(--grid-gutter)/2);
    margin-left: auto;
    margin-right: auto;
}

.section-jumps__card-button .button {
    margin: 80px;
}

.section-jumps__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--grid-gutter)/2);
}

.section-jumps__card-title {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 100%;
}

.section-jumps__card-subtitle {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
    margin-top: 15px;
    width: 100%;
    font-weight: 400;
}

.section-jumps__card-subtitle:after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background: #828282;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-jumps__card-text {
    line-height: 25px;
    text-align: center;
}

/* SECTION ADDITIONAL SERVICES */
.section-additional-services {
  background-color: var(--color-light-grey);
}
  
.section-additional-services__title {
  display: flex;
  justify-content: center;
}
  
.section-additional-services__icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 180px;
  justify-items: center;
  margin-top: 60px;
}
  
.section-additional-services__icon-text {
  text-align: center;
  width: 240px;
}

.section-additional-services__poster img {
  display: block;
  width: auto;
}

.section-additional-services__text-block {
   padding: 60px 0;
}