/* variables */
:root {
  --color-dark: rgba(51, 51, 51, 1);
  --color-light: #F9F8F6;
  --color-light-grey: #F2F2F2;
  --grid-gutter: 60px;
  --font-size-base: 18px; 
  /* --font-size-base: 24px; */
}

/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: var(--color-light-grey);
  color: var(--color-dark);
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--font-size-base);
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.02em;
}

nav a:hover {
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 1px;
}

/* layout */
.container {
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-section {
  padding: var(--grid-gutter) 0; /* уменьшила до 60px? */
}

.heading {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: var(--grid-gutter);
  /*padding-top: 60px; */
}

/* button */
.button {
  appearance: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  text-decoration: none;
  padding: 0 70px;
  letter-spacing: 0.08em;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 60px;             /* вынести из кнопки? */
}

.button--signup {
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  color: var(--color-dark);
}

.button--signup:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* menu */
.page-header {
  background-color: var(--color-dark);
}

.page-header__menu-toggle {
  display: none;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    /* min-height: 8vh; */
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--color-light)
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--color-light)
}

.mainmenu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.mainmenu__item:not(:last-child) {
  margin-right: 30px;
}

.mainmenu__item a {
  color: var(--color-light);
  text-decoration: none;
  line-height: calc(27 / 18 * 100%);
  font-size: 20px;

}

/* ======================================================= MAIN PAGE=================================================*/
/* картинка фоном? */
/* .section-main {
  background-color: var(--color-light);
  position: relative;
}

.section-main__left {
  max-width: 42.6%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 276px 0;
} 

.section-main__poster {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  background: url(./images/main_banner.png) no-repeat left center /cover;
}
*/

/* SECTION MAIN */
.section-main {
  overflow: hidden;
  background-color: var(--color-light);
}

.section-main__banner {
  display: flex;
  align-items: center;
}

.section-main__left {
  width: 575px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-main__poster img {
  display: block;
  width: auto;
}

.section-main__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.02em;
  padding-bottom: calc(var(--grid-gutter)/2);
}

.section-main__subtitle {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.button--main {
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);
  border-radius: 8px;
  color: var(--color-light);
}

.button--main:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}


/* section-about-us */
.section-about-us {
  overflow: hidden;
  background-color: var(--color-light);
}

.section-about-us__left {
  display: flex;
  align-items: center;
}

.section-about-us__text-blok {
  width: 615px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 70px;
}

/* section-services*/
.section-main-services__wrap {
  display: flex;
  justify-content: center;
}

.section-main-services__slider  {
  width: 1140px;
}

.section-main-services__slider-item  {
  background-color: var(--color-light);
  display: flex;
  align-items: center;
}

.section-main-services__text-blok {
  width: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-main-services__text {
  margin-left: 60px;
  margin-right: 50px;
}

.section-main-services__box {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.section-main-services__title {
  margin-bottom: 30px;
  font-size: 36px;
}

.section-main-services__box-title {
  font-size: 48px;
  margin-bottom: 0;
}

.section-main-services__actions {
  margin-left: 60px;
}

.section-main-services__poster img {
  display: block;
  width: auto;
}

/* slider-nav */
.swiper-container {
  width: 1140px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  width: 1140px;
  height: 750px;
  padding-left: 2px;
}

.swiper-pagination-fraction {
  width: 0;
  bottom: 10px;
  left: 1040px;
  font-size: 24px;
}

.swiper-pagination-current {
  font-size: 42px;
}

.swiper-button-next {
  color: var(--color-dark);
}

.swiper-button-prev {
  left: 1000px;
  color: var(--color-dark);
}

/* ####################################################### */
/* section why-us */
.section-why-us {
  background-color: var(--color-light);
}

.section-why-us__title {
  display: flex;
  justify-content: center;
}

.section-why-us__icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}

.section-why-us__icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-why-us__icon-text {
  text-align: center;
}

.section-why-us__icon-img {
  padding-bottom: calc(var(--grid-gutter)/2);
}


.section-about-us__poster img {
  display: block;
  width: auto;
}

/* ####################################################### */
/* section quote */
.section-clouds {
  background: url(../images/fonclouds.png) no-repeat center;
}

.section-clouds__blok-text {
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-clouds-text {
  width: 720px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.03em;
  margin: 0;
}

.section-clouds__blok-text span {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

/* ####################################################### */
/* section-form */
.section-form {
  background-color: var(--color-ligh-grey);
  height: 987px;
  position: relative;
  display: flex;
  align-items: center;
}

.section-form__row {
  display: flex;
}

.section-form__content {
  background: var(--color-light);
  flex-shrink: 0;
  /* padding: 60px 200px 0 55px; */
  padding: var(--grid-gutter);
}

.section-form__title {
  font-size: 36px;
}
.section-form__poster img {
  display: block;
  width: auto;
}

/* checkbox */
.section-form__form-bottom {
  position: relative;
}

.checkbox__input {
  position: absolute;
  top: 5px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  text-decoration: var(--color-light);
}

.checkbox__input:checked + .checkbox__text::before{
  background: var(--color-light) url(../images/svg/check.svg) no-repeat center center;
}

.checkbox__input:focus-visible + .checkbox__text::before{
  outline: 1px solid var(--color-dark);
}

.checkbox__text {
  padding-left: 30px;
  display: block;
  position: relative;
  top: 7px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.checkbox__text::before {
  content: '';
  border: 1px solid rgba(189, 189, 189, 1);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -3px;
  cursor: pointer;
}

.checkbox__text a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-dark);
}

.checkbox__text a:hover {
  color: var(--color-light-hover);
}

.checkbox__text a:focus-visible {
  outline: 1px dotted var(--color-dark);
}

.button svg {
 margin-left: 55px;
}

.section-form__button {
  padding: 0 25px;
}

/* input-field */
.input-field {
  appearance: none;
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  background-color: transparent;
  color: var(--color-dark);
  line-height: 60px;
  padding: 0 20px;
  width: 100%;
  transition: border 0.25s ease;
  margin-bottom: 10px;
}

.section-form__field--position {
  line-height: 70px;
}

input::placeholder { 
  color: var(--color-dark);
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.section-form__field--style {
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 3px;
  margin-top: 45px;
}

.section-form__field--position {
  position: relative;
}

.input-field:focus {
  border: 1px solid var(--color-dark);
  outline: none;
}

.section-form__field span {
  position: absolute;
  left: 15px;
  top: 23px;
  background-color: var(--color-light);
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  color: var(--color-dark);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

textarea {
  resize: none;
}

/* ====================================================
FOOTER 
=======================================================*/
.page-footer{
  background-color: var(--color-dark);
}

/* .page-footer__logo {
  padding-top: calc(var(--grid-gutter)/2);
} */

.page-footer__flex {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.page-footer__contact {
  color: var(--color-light);
  display: flex;
}

.page-footer__contact a {
  color: var(--color-light);
  text-decoration: none;
}

.page-footer__contact-column {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
}

.page-footer__contact-title {
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;  
  padding-bottom: 10px;
}

.page-footer__contact-column:first-child {
  margin-right: var(--grid-gutter);
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid var(--color-light);
  margin-top: 40px;
}

.page-footer__copyright {
  color: var(--color-light);
}

/* socials-list */
.socials-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials-list__item:not(:last-child) {
  margin-right: 15px;
}

.socials-list__item a {
  display: block;
}

.page-footer__menu {
  padding-bottom: var(--grid-gutter);
  padding-top: calc(var(--grid-gutter)/2);
}

.page-footer {
  padding: var(--grid-gutter);
}

/* ====================================================
SECTION GALLERY 
========================================================*/
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: calc(var(--grid-gutter)/3); 
  grid-auto-rows: 1fr
}

.section-gallery__title {
  text-align: center;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  margin: 0;
}

.gallery__item--1 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--2 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--3 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--4 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--5 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--6 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--7 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--8 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--9 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--10 {
  grid-row: span 2;
  grid-column: span 2;
}

figure:hover .gallery__img{
  transform: scale(1.5);
}

/* ################################################################### */
/* Модальное окно Записаться */
#zatemnenie:target {
  display: block;
}

.close {
  display: inline-block;
  background: url('/images/svg/plus.svg') no-repeat;
  transform: rotate(45deg);
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin-bottom: 7px;
  position: relative;
  right: -95%;
  top: -30px;
}

.close:focus {
  background: url('/images/svg/toggle.svg') no-repeat;
  transform: none;
}

#zatemnenie {
  background: linear-gradient(0deg, rgba(18, 21, 33, 0.6), rgba(18, 21, 33, 0.6));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.section-sign-up__content {
  width: 700px;
  height: 750px;
  background: var(--color-light);
  flex-shrink: 0;
  padding: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
}

.section-sign-up--form-title {
  line-height: 0;
}

.section-sign-up--checkbox__text {
    top: 7px;
}

/* =========================================================PAGE-ABOUT-US=========================================================== */
/* section hero banner */

.section-hero__title {
  text-align: center;    
}

.section-hero {
  overflow: hidden;
  background-color: var(--color-light);
}

.section-hero__banner {
display: flex;
justify-content: flex-end;
}

.section-hero__content {
  padding: var(--grid-gutter);
  position: absolute;
  width: 275%;
  height: 658px;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-hero__poster img {
  display: block;
  width: auto;
}

.section-hero__box {
  width: 25%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-hero__text span {
  font-style: normal;
  font-weight: 600;
}

.section-hero__text {
  line-height: 25px;
  font-style: normal;
  font-weight: 300;
}

/* SECTION OUR TEAM */
.section-our-team {
  background-color: var(--color-light-grey);
}

.section-our-team__title {
  text-align: center;
}

.section-our-team__card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: calc(var(--grid-gutter)/2);
  margin-bottom: var(--grid-gutter);
}

.section-our-team__card-img {
  width: 100%;
}

.section-our-team__card-text {
  text-align: center;
  padding-top: 10px;
}

.section-our-team__card-title {
  text-align: center;
  font-weight: 700;
}

.section-our-team__card {
  background-color: var(--color-light);
}

.section-our-team__card-bottom {
  padding: 10px;
}

/* WE PROVIDE SAFETY */
.section-safety__title {
  text-align: center;
}

.section-safety__content-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.05em;
}

.section-safety {
  overflow: hidden;
  background-color: var(--color-light);
}

.section-safety__poster img {
  display: block;
  width: auto;
}

.section-safety__box {
  width: 50%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.section-safety__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.section-safety__actions {
  margin-left: 80px;
  margin-bottom: 30px;
}

.section-safety__button {
  margin-top: 30px;
}

.section-safety__block-picture-left {
display: flex;
justify-content: flex-end;
}

.section-safety__content-picture-left {
  padding: var(--grid-gutter);
  position: absolute;
  /* width: 660px; */
  width: 110%;
  background: #f9f8f679;
  border: 1px solid var(--color-dark);
}

.section-safety__block-picture-right {
  display: flex;
  align-items: center;
}

.section-safety__content-picture-right {
  padding: var(--grid-gutter);
  position: absolute;
  /* width: 660px; */
  width: 110%;
  background: #f9f8f679;
  border: 1px solid var(--color-dark);
}

.section-safety__box--picture-left {
  display: flex;
  justify-content: flex-end;
}

/* BENEFITS */
.section-benefits {
  background-color: var(--color-light-grey);
}

.section-benefits__item {
  display: flex;
  align-items: center;
}

.section-benefits__icon {
  width: 100px;
  height: 100px;
  margin-right: var(--grid-gutter);
  opacity: 0.8; 
}

.section-benefits__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--grid-gutter);
  column-gap: calc(var(--grid-gutter)*2);
}

/* =========================================================PAGE-SERVISES=========================================================== */
.section-servises__heading {
  height: 184px;
  text-align: center;
  padding-top:  60px;
}

/* section-serveses */
.section-servises {
overflow: hidden;
}

.section-servises__poster img {
  display: block;
  width: auto;
}

.section-servises__box {
  width: 50%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.section-servises__text {
  margin-left: 80px;
  margin-right: 80px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.section-servises__header {
  margin-left: 80px;
}

.section-servises__title {
  font-size: 36px;  
  margin: 30px 0;;  
}

.section-servises__actions {
   margin-left: 80px;
   margin-bottom: 30px;
}

.section-servises__button {
  margin-top: 30px;
}

/* if picture-left */
.section-servises__block-picture-left {
display: flex;
justify-content: flex-end;
}

.section-servises__content-picture-left {
  position: absolute;
  /* width: 660px; */
  width: 110%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-servises__block-picture-right {
  display: flex;
  align-items: center;
}

.section-servises__content-picture-right {
  position: absolute;
  /* width: 660px; */
  width: 110%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-servises__box--picture-left {
  display: flex;
  justify-content: flex-end;
}


/* =========================================================PAGE-JUMPS=========================================================== */
/* SECTION FLIGHTS */
.section-jumps {
  background-color: var(--color-light);
}

.section-jumps__title{
  text-align: center;
}

.section-jumps__card {
  border: 1px solid #828282;
  display: block;
  position: relative;
  overflow: hidden;
}

.section-jumps__card-see {
  display: block;
 position: relative;
}

.section-jumps__card-hidden {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  padding: 60px;
}

.section-jumps__card:hover .section-jumps__card-hidden {
  background: var(--color-light);
  opacity: 1;
}

.section-jumps__card:hover .section-jumps__card-hidden h3 {
  background: var(--color-light);opacity: 1;
}

.section-jumps__img{
  width: 100%;
}

.section-jumps__card-small {
  width: calc(470/630 * 100%);
  background-color: var(--color-light);
  margin-top: -40px;
  position: relative;
  padding: calc(var(--grid-gutter)/2);
  margin-left: auto;
  margin-right: auto;
}

.section-jumps__card-button .button {
  margin: 80px;
}

.section-jumps__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--grid-gutter)/2);
}

.section-jumps__card-title {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
}

.section-jumps__card-subtitle {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
  margin-top: 15px;
  width: 100%;
  font-weight: 400;
}

.section-jumps__card-subtitle:after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background: #828282;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-jumps__card-text {
  line-height: 25px;
  text-align: center;
}

/* SECTION ADDITIONAL SERVICES */
.section-additional-services {
  background-color: var(--color-light-grey);
}

.section-additional-services__title {
  display: flex;
  justify-content: center;
}

.section-additional-services__icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 180px;
  justify-items: center;
  margin-top: 60px;
}

.section-additional-services__icon-text {
  text-align: center;
  width: 240px;
}

.section-additional-services__poster img {
  display: block;
  width: auto;
}

.section-additional-services__text-block {
  padding: 60px 0;
}

/* =========================================================PAGE-FLIGHTS=========================================================== */
/* SECTION FLIGHTS */
.section-flights {
  background-color: var(--color-light);
}

.section-flights__card {
  border: 1px solid #828282;
}

.section-flights__card-small {
  width: calc(470/630 * 100%);
  background-color: var(--color-light);
  margin-top: -40px;
  position: relative;
  padding: calc(var(--grid-gutter)/2);
  margin-left: auto;
  margin-right: auto;
}

.section-flights__card-button .button {
  margin: 80px;
}

.section-flights__card-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--grid-gutter)/2);
}

.section-flights__card-title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
}

.section-flights__card-title:after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background: #828282;
  margin-top: 30px;
  margin-bottom: 30px;

}

.section-flights__card-text {
  line-height: 25px;
  text-align: center;
}

.section-flights__card--horizontal {
  display: flex;
  grid-column: span 2;
}

.section-flights__card-small--horizontal {
  margin-top: 0;
  padding: 30px 110px;
}

/* SECTION PLANES */
.section-title {
  margin: var(--grid-gutter) 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.section-planes__title {
  text-align: center;
}

.section-planes__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--grid-gutter)/2);
}

.section-planes__card {
  border: 1px solid #828282;
  background-color: var(--color-light)
}

.section-planes__card-content {
  padding: calc(var(--grid-gutter)/2) var(--grid-gutter);
}

.section-planes__img {
  width: 100%;    
}

.section-planes__card-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.section-planes__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

/* SECTION FLIGHTS PROGRAMS */
.section-programs {
  background-color: var(--color-light);
}

.section-programs__title {
  text-align: center;
}

.section-programs__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calc(var(--grid-gutter)/2);
  
}

.section-programs__card {
  background-color: var(--color-light-grey);
  margin: 10px;
}

.section-programs__icon {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 30px;
}

.section-program__title {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  padding: 30px 30px 0 30px;
}

.section-program__text {
  padding: 30px;
  text-align: center;

}

/* ###################################################################### */
/* addservices*/
.section-addservices__start {
  background: var(--color-light-grey);
}

.section-addservices {
  background: var(--color-light-grey);
}

.section-addservices__heading {
  height: 184px;
  text-align: center;
  padding-top: 60px;
 
}

/* section-addservices*/
.section-addservices {
overflow: hidden;
}

.section-addservices__poster img {
  display: block;
  width: auto;
}

.section-addservices__box {
  width: 50%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.section-addservices__text {
  margin-left: 80px;
  margin-right: 80px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.section-addservices__header {
  margin-left: 80px;
}

.section-addservices__title {
  font-size: 36px;  
  margin: 30px 0; 
}

.section-addservices__actions {
  margin-left: 80px;
  margin-bottom: 30px;
}

.section-addservices__button {
  margin-top: 30px;
}

/* if picture-left */
.section-addservices__block-picture-left {
display: flex;
justify-content: flex-end;
}

.section-addservices__content-picture-left {
  position: absolute;
  width: 110%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-addservices__box--picture-left {
  display: flex;
  justify-content: flex-end;
}


/* if picture-right */
.section-addservices__block-picture-right {
display: flex;
align-items: center;
}

.section-addservices__content-picture-right {
  position: absolute;
  width: 110%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

/* ################################################################## */
/* 2 вариант карточек */
.section-flights__card {
  border: 1px solid #828282;

  display: block;
  position: relative;
  overflow: hidden;
}

.section-flights__card-see {
  display: block;
  position: relative;
}

.section-flights__card-see-flex {
  display: flex;
}

.section-flights__card-hidden {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  padding: 60px;
}

.section-flights__card:hover .section-flights__card-hidden {
  background: rgba(51, 51, 51, 1);
  color: rgba(242, 242, 242, 1);
  opacity: 1;
}

.section-flights__card:hover .section-flights__card-hidden h3 {
  background: rgba(51, 51, 51, 1);
  color: rgba(242, 242, 242, 1);
  opacity: 1; 
}

.section-planes__card:hover {
  transform: scale(1.5);
}


/* =========================================================PAGE COURSES=========================================================== */
/* section-why-study and section-courses-block__bottom*/

.section-why-study {
  background-color: var(--color-light);
  overflow: hidden;
}

.section-why-study__poster img,
.section-courses-block__poster img {
  display: block;
  width: auto;
}

.section-why-study__box {
  width: 25%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-courses-block__box {
  width: 25%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-why-study__banner {
  display: flex;
  justify-content: flex-end;
}

.section-courses-block__bottom {
  display: flex;
  justify-content: flex-start;
}

.section-why-study__content {
  padding: var(--grid-gutter);
  position: absolute;
  width: 275%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-courses-block__content {
  height: 70%;
}

.section-why-study__text span {
  font-style: normal;
  font-weight: 600;
}

.section-why-study__text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

/* ########################################################## */
/* section-requirements */

/* why-us */
.section-requirements {
  background-color: var(--color-light);
}

.section-requirements__title {
  display: flex;
  justify-content: center;
}

.section-requirements__icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  margin-top: 60px;
}

.section-requirements__icon-text {
  text-align: center;
  width: 240px;
}

.section-requirements__poster img {
  display: block;
  width: auto;
}

.section-requirements__text-block {
   padding: 60px 0;
}

/* ########################################################## */
/* section-accordeon  */

.section-accordeon {
  background-color: var(--color-ligh-grey);
}

.section-accordeon__flex {
  display: flex;
}

.section-accordeon__content {
  width: 100%;
  flex-shrink: 0;
}

.section-accordeon__header {
  margin-bottom: 60px;
  text-align: center;

}

.accordeon {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordeon__item {
  margin-bottom: 20px;
}

.accordeon__item:last-child {
  margin-bottom: none;
}

/* faq-card */
.faq-card {
  border: 1px solid rgba(130, 130, 130, 1);
  padding: 30px;
}

.faq-card--opened {
  border: 1px solid rgba(130, 130, 130, 1);
}

.faq-card--opened .faq-card__content {
  display: block;
}

.faq-card__toggle {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-dark);
  display: flex;
  justify-content: space-between;
}

.faq-card__toggle--opened + .faq-card__content {
  display: block;
}

.faq-card__toggle--opened .faq-card__icon {
  transform: rotate(45deg);
}

.faq-card__icon {
  width: 48px;
  height: 48px;
  background: url('/images/svg/plus.svg') no-repeat;
}

.faq-card--opened .faq-card__icon {
  transform: rotate(45deg);
}

.faq-card__content {
  display: none;
  font-size: 20px;
  line-height: 130%;
  margin-top: 5px;
  padding-right: 48px;
  cursor: pointer;
}

.faq-card__content p {
  margin:  0 0 14px;
}

.faq-card__content p:last-child {
  margin-bottom: 0;
}

.faq-card__content:last-child {
  margin-bottom: 0;
}



/* =========================================================PAGE CONTACTS=========================================================== */
/* section-contacts*/
.section-contacts {
  background-color: var(--color-light);
  overflow: hidden;
}

.section-contacts__poster img{
  display: block;
  width: auto;
}

.section-contacts__box {
  width: 25%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-contacts__banner {
  display: flex;
  justify-content: flex-end;
}

.section-contacts__content {
  padding: var(--grid-gutter);
  position: absolute;
  width: 275%;
  height: 70%;
  background: rgba(242, 242, 242, 0.9);
  border: 1px solid var(--color-dark);
}

.section-contacts__text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

/* map */
.section-map {
  background: var(--color-light);
  overflow: hidden; 
}

iframe {
  filter: grayscale(100%);
  /* width="1274" */
  /* width: 100%; */
}

/* form */
.section-form__map {
  margin: 60px 0;
  border: 1px solid var(--color-dark);
}

.section-map__content-form {
  padding-right: 60px;
  padding-left: 60px;
  flex-shrink: 0;
}

.section-contacts__text--style,
.section-contacts__text--style a {
  color: var(--color-dark);
}

.section-contacts__contacts {
  margin-top: 60px;
}

.checkbox__text-contacts {
  top: 10px;
}

/* =========================================================ADAPTIVE=========================================================== */
@media screen and (max-width: 1250px) {
  .section-main__subtitle {
    font-size: 64px;
  }

  .page-header__menu {
    display: none;
  }

  .page-header__menu-toggle {
    display: block;
  }

  .mainmenu {
    position: absolute;
    top: 120px;
    right: 0;
    background: var(--color-dark);
    padding: var(--grid-gutter);
    width: 320px;
    z-index: 10;
  }

  .mainmenu__item  {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .mainmenu__item:last-child {
    margin-bottom: 0;
  }

  .page-header__menu-toggle.is-active + .page-header__menu {
    display: block;
  }

  .section-main__banner {
    flex-direction: column-reverse;
  }

  .section-main__left {
    align-items: center;
    text-align: center;
    padding: var(--grid-gutter);
  }
  
  .section-cover__poster {
    height: 620px;
  }

  .page-footer__menu {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-why-us__icon {
    grid-template-columns: repeat(2, 1fr);
  }
  
}